@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
#radios_as_select {
  align-items: center;
  background: #2d2d2d;
  color: black;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw; }
  #radios_as_select .select {
    display: flex;
    flex-direction: column;
    height: 40px;
    position: relative;
    width: 250px; }
    #radios_as_select .select:focus .option {
      position: relative;
      pointer-events: all; }
  #radios_as_select .option {
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    min-height: 40px;
    order: 2;
    overflow: hidden;
    padding: 0 30px 0 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 1; }
    #radios_as_select .option:hover {
      background: #1e90ff;
      color: #fff; }
  #radios_as_select input {
    left: -99999px;
    opacity: 0;
    position: absolute; }
    #radios_as_select input:checked + label {
      background: #fff;
      border-top: none;
      order: 1;
      position: relative;
      z-index: 2; }
      #radios_as_select input:checked + label:after {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid black;
        content: '';
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: calc(50% - 2.5px);
        width: 0;
        z-index: 3; }
      #radios_as_select input:checked + label:before {
        background: #fff;
        content: '';
        height: 40px;
        position: absolute;
        right: 0;
        width: 40px; }
      #radios_as_select input:checked + label:hover:before {
        background: #1e90ff; }

* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* ---- grid ---- */
.grid {
  background: #EEE; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 17%; }

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.5); }

#_1,
#_4 {
  width: 320px; }

#_2 {
  width: 13em; }

#_3 {
  width: 640px; }

#_3 {
  height: 200px; }

#_2 {
  height: 260px; }

#_4 {
  height: 360px; }

#wrapping_column {
  width: 450px;
  height: 400px;
  border: 1px solid; }

.wc_parent {
  background-color: #E0FFF4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }

.wc_child {
  box-sizing: border-box;
  background-color: #CEBFFF;
  flex-grow: 1;
  margin: 15px;
  min-height: 60px;
  width: 30%; }

#num1 {
  padding: 1em; }

#num2 {
  padding: 2em; }

#num3 {
  padding: .3em; }

#num4 {
  padding: 3em; }

#num5 {
  padding: 4em; }

#grid_columns {
  display: grid;
  grid-gap: 10px; }
  #grid_columns > div:nth-child(3n + 1) {
    grid-row: 1;
    background-color: aqua; }
  #grid_columns > div:nth-child(3n + 2) {
    grid-row: 2;
    background-color: orange; }
  #grid_columns > div:nth-child(3n + 3) {
    grid-row: 3;
    background-color: lightgreen; }
  #grid_columns > div {
    margin: 0;
    padding: 10px; }

.flex-item {
  background-color: orange;
  margin: .3em;
  padding: 50px;
  width: 100%; }

/* $activeColor: #c0392b; //red */
/* .slideOne */
.slideOne {
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  height: 10px;
  margin: 20px auto;
  position: relative;
  width: 50px; }
  .slideOne label {
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    height: 16px;
    left: -3px;
    position: absolute;
    top: -3px;
    transition: all 0.4s ease;
    width: 16px; }
  .slideOne input[type=checkbox] {
    visibility: hidden; }
    .slideOne input[type=checkbox]:checked + label {
      left: 37px; }

/* end .slideOne */
/* .slideTwo */
.slideTwo {
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  height: 30px;
  margin: 20px auto;
  position: relative;
  width: 80px; }
  .slideTwo:after {
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    content: '';
    height: 2px;
    left: 14px;
    position: absolute;
    top: 14px;
    width: 52px; }
  .slideTwo label {
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: all 0.4s ease;
    width: 22px;
    z-index: 1; }
    .slideTwo label:after {
      background: #333;
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
      content: '';
      height: 10px;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 10px; }
  .slideTwo input[type=checkbox] {
    visibility: hidden; }
    .slideTwo input[type=checkbox]:checked + label {
      left: 54px; }
      .slideTwo input[type=checkbox]:checked + label:after {
        background: #27ae60;
        /*activeColor*/ }

/* end .slideTwo */
/* .slideThree */
.slideThree {
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  height: 26px;
  margin: 20px auto;
  position: relative;
  width: 80px; }
  .slideThree:after {
    color: #000;
    content: 'OFF';
    font-weight: bold;
    font: 12px/26px Arial, sans-serif;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
    z-index: 0; }
  .slideThree:before {
    color: #27ae60;
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    left: 10px;
    position: absolute;
    z-index: 0; }
  .slideThree label {
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    height: 20px;
    left: 3px;
    position: absolute;
    top: 3px;
    transition: all 0.4s ease;
    width: 34px;
    z-index: 1; }
  .slideThree input[type=checkbox] {
    visibility: hidden; }
    .slideThree input[type=checkbox]:checked + label {
      left: 43px; }

/* end .slideThree */
/* .roundedOne */
.roundedOne {
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  height: 28px;
  margin: 20px auto;
  position: relative;
  width: 28px; }
  .roundedOne label {
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    cursor: pointer;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 20px; }
    .roundedOne label:after {
      background: #27ae60;
      background: linear-gradient(top, #27ae60 0%, #145b32 100%);
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      content: '';
      height: 16px;
      left: 2px;
      opacity: 0;
      position: absolute;
      top: 1px;
      width: 16px; }
    .roundedOne label:hover::after {
      opacity: 0.3; }
  .roundedOne input[type=checkbox] {
    visibility: hidden; }
    .roundedOne input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .roundedOne */
/* .roundedTwo */
.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
  .roundedTwo label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
    .roundedTwo label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .roundedTwo label:hover::after {
      opacity: 0.3; }
  .roundedTwo input[type=checkbox] {
    visibility: hidden; }
    .roundedTwo input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .roundedTwo */
/* .squaredOne */
.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
  .squaredOne label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
    .squaredOne label:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: #27ae60;
      background: linear-gradient(top, #27ae60 0%, #145b32 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      opacity: 0; }
    .squaredOne label:hover::after {
      opacity: 0.3; }
  .squaredOne input[type=checkbox] {
    visibility: hidden; }
    .squaredOne input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .squaredOne */
/* .squaredTwo */
.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
  .squaredTwo label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
    .squaredTwo label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .squaredTwo label:hover::after {
      opacity: 0.3; }
  .squaredTwo input[type=checkbox] {
    visibility: hidden; }
    .squaredTwo input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .squaredTwo */
/* .squaredThree */
.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto; }
  .squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4); }
    .squaredThree label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .squaredThree label:hover::after {
      opacity: 0.3; }
  .squaredThree input[type=checkbox] {
    visibility: hidden; }
    .squaredThree input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .squaredThree */
/* .squaredFour */
.squaredFour {
  width: 20px;
  position: relative;
  margin: 20px auto; }
  .squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
    .squaredFour label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .squaredFour label:hover::after {
      opacity: 0.5; }
  .squaredFour input[type=checkbox] {
    visibility: hidden; }
    .squaredFour input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .squaredFour */
* {
  box-sizing: border-box; }

body {
  background: #3498db;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  body h1, body h2, body em {
    color: #eee;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 0 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px #000; }
  body em {
    font-size: 14px;
    text-align: center;
    display: block;
    margin-bottom: 0px; }
  body .ondisplay {
    text-align: center;
    padding: 20px 0; }
    body .ondisplay section {
      width: 100px;
      height: 100px;
      background: #555;
      display: inline-block;
      position: relative;
      text-align: center;
      margin-top: 5px;
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
      body .ondisplay section:after {
        /*         visibility: hidden; */
        content: attr(title);
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 3px;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-shadow: 0px 1px #000; }

* {
  margin: 0px;
  padding: 0px; }

html {
  background: #497dd0; }

.wrapper {
  margin: 1em 0; }

.toggle_radio {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 318px; }
  .toggle_radio > * {
    float: left; }
  .toggle_radio input[type=radio] {
    display: none;
    /*position: fixed;*/ }
  .toggle_radio label {
    font: 90%/1.618 "Source Sans Pro";
    color: rgba(255, 255, 255, 0.9);
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/
    /*make it blue*/ }

.toggle_option_slider {
  /*background: red;*/
  /*display: none;*/
  height: 20px;
  position: absolute;
  top: 3px;
  width: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease; }

#first_toggle:checked ~ .toggle_option_slider,
#second_toggle:checked ~ .toggle_option_slider,
#third_toggle:checked ~ .toggle_option_slider {
  background: rgba(255, 255, 255, 0.3); }

#first_toggle:checked ~ .toggle_option_slider {
  left: 3px; }

#second_toggle:checked ~ .toggle_option_slider {
  left: 109px; }

#third_toggle:checked ~ .toggle_option_slider {
  left: 215px; }

#dynomyte {
  align-items: center;
  display: flex;
  flex-direction: column; }

#singers {
  display: flex;
  margin: 1em 0 2em; }
  #singers select {
    margin-right: 1em; }

.singer_profile_overview {
  display: none; }

.visible {
  display: block; }

/*# sourceMappingURL=cainito.css.map */
